.content {
    padding: 40px;
}

.accordion {
    width: 460px;
    /* border: 1px solid #777; */
}

.accordion .title_section {
    position: relative;
    margin-top: 3px;
    padding: 10px 0 10px 34px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #ddd;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.accordion .title_section:before {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 4px;
    background-color: #333;
    content: '';
}

.accordion .title_section.is_active {
    border: 1px solid #003fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #007fff;
    color: #fff;
}

.accordion .title_section.is_active + .panel {
    display: block;
}

.accordion .title_section.is_active:before {
    background-color: #fff;
}

.accordion .title_section:first-child {
    margin-top: 0;
}

.accordion .panel {
    display: none;
    margin-top: -1px;
    padding: 20px;
    border: 1px solid #999;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 13px;
    line-height: 18px;
    transition: all 2s;
}