html, body {
    height: 100%;
}

body {
    position: relative;
    background: linear-gradient(to right, #25c481, #25b7c4);
}


.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 40px;
    /* width: 300px; */
    /* height: 300px; */
    background-color: rgba(255,255,255,0.1);
}

.area_clock {
    font-size: 5rem;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}