/* common */

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
    margin: 0;
    padding: 0;
}

body,
input,
textarea,
select,
button,
table {
    font-family: 'Helvetica Neue', 'Apple SD Gothic Neo', '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, sans-serif;
    font-size: 12px;
    line-height: 1.2;
}

img,
fieldset,
button {
    border: 0;
}

ul,
li {
    list-style: none;
}

hr {
    display: none;
}

em,
address {
    font-style: normal;
}

label {
    cursor: pointer;
}

input {
    -webkit-appearance: none;
    -webkit-text-size-adjust: none;
}

input[type=text] {
    border-radius: 0;
}

input[type=checkbox] {
    -webkit-appearance: checkbox;
}

input[type=radio] {
    -webkit-appearance: radio;
}

input::-ms-clear {
    display: none;
}

button {
    outline: 0;
    background-color: transparent;
    cursor: pointer;
}

a {
    color: #000;
    text-decoration: none;
}


.blind,
legend {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}

i {
    font-style: normal;
}